/* ==================================================== */
/* Colors
/* ==================================================== */

$white: #ffffff;
$black: #333333;
$gray: #9A9A9A;

$bg: #F6F4F1;

$primary: #64C48F;
$secondary: #1D2421;

